.left {
  &-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-title {
    font-weight: bold;
    color: $secondary-color;
    font-size: 18px;
    padding-bottom: 20px;
  }
}

.list {
  padding: 20px;
  border-left: 1px solid $border-color;
  width: 20%;
}